.navbar-item-custom,  .navbar-item-custom a {
color: white;
}

.navbar-custom{
    background-color: pink;
}

.footer-custom {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: pink;
    padding-top: 25px;
}

